.form-wrapper .button-container {
  display: block;
}

.form-wrapper form {
  display: flex;
  flex-flow: column;
  outline: 0;
  line-height: 1.31;
}

/* Form columns */
.field-col-half {
  width: 50%;
  float: left;
}

.field-col-onethird {
  width: 33%;
  float: left;
}

.field-col-twothird {
  width: 67%;
  float: left;
}


@media (max-width: 768px) {
  .field-col-half {
    width: 100%;
  }
}

.field-wrapper {
  padding: 25px 10px;
  display: grid;
}

.field-wrapper label {
  width: 100%;
  font-size: .875rem;
  font-weight: normal;
  line-height: 1.43;
  color: var(--color-comet);
}

.field-wrapper input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-right: 20px;
  color: var(--color-base-primary);
  border: 0;
  border-bottom: solid 1px var(--color-cool-gray);
  background-color: transparent;
  border-radius: 0;
  font-family: inherit;
  font-size: 1rem;
}

.field-wrapper select {
  height: 40px;
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: var(--color-cool-gray);
  width: 100%;
  background-color: transparent;
  border: 1px dashed var(--color-cool-gray);
  border-color: transparent transparent var(--color-cool-gray);
  cursor: pointer;
  padding: 6px 16px 6px 0;
}

.form-heading-wrapper {
  padding-bottom: 0;
}

.form-heading-wrapper h3 {
  width: 100%;
  font-size: .875rem;
  font-weight: normal;
  line-height: 1.43;
  color: var(--color-comet);
  padding: 0;
}

.form-checkbox-wrapper {
  padding: 5px 10px;
  margin: 10px 0;
  display: flex;
}

input[type="checkbox"], 
input[type="radio"] {
  opacity: 0;
  height: 1px;
  margin: 0;
  position: absolute;
}

.form-checkbox-wrapper label {
  font-size: 1rem;
  font-weight: var(--font-weight-thin);
  color: var(--color-base-primary);
  line-height: 1.63;
  margin-top: 2px;
}

.field-wrapper .form-checkbox-label {
  width: auto;
  font-size: .875rem;
  font-weight: normal;
  line-height: 1.43;
  color: var(--color-comet);
  margin: 0;
}

.field-wrapper .form-checkbox-label::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 8px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: solid 2px var(--color-cool-gray);
  vertical-align: top;
  box-sizing: border-box;
}

input[type="checkbox"]:checked+.form-checkbox-label::before {
  background-image: url("/icons/icon-check.svg");
  border-color: var(--color-jade);
  opacity: 1;
}

.field-wrapper input:focus,
.field-wrapper select:focus {
  outline: none;
}

.form-submit-wrapper {
  float: right;
  margin: 0;
  padding: 0;
}

.form-submit-wrapper button {
  margin: 15px 13px;
  width: 150px;
  height: 60px;
  border: 0;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--link-color-secondary);
  border-radius: 0;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
}