.form-wrapper .button-container {
  display: block;
}

.form-wrapper form {
  display: flex;
  flex-flow: column;
  outline: 0;
  line-height: 1.31;
}

/* Form columns */
.field-col-half {
  width: 50%;
  float: left;
}

.field-col-onethird {
  width: 33%;
  float: left;
}

.field-col-twothird {
  width: 67%;
  float: left;
}

.field-wrapper {
  padding: 20px 10px;
}

.field-wrapper label {
  width: 100%;
  font-size: .875rem;
  font-weight: normal;
  line-height: 1.43;
  color: #5e6073;
}

.field-wrapper input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-right: 20px;
  color: #282b3e;
  border: 0;
  border-bottom: solid 1px #8e90a2;
  background-color: transparent;
  border-radius: 0;
  font-family: inherit;
  font-size: 1rem;
}

.field-wrapper select {
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #8e90a2;
  width: 100%;
  background-color: transparent;
  border: 1px dashed #8e90a2;
  border-color: transparent transparent #8e90a2;
  cursor: pointer;
  padding: 6px 16px 6px 0;
}

.field-wrapper input:focus,
.field-wrapper select:focus {
  outline: none;
}