/* Header layout */
header {
  background-color: rgba(255 255 255 / 95%);
    box-shadow: 0 8px 20px 0 rgba(0 0 0 / 1%);
    z-index: 1001;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    align-items: center;
}

header .header {
  width: 100%;
    height: 80px;
    overflow: hidden;
}

header .nav-wrapper .nav-tools,
header .nav-wrapper .nav-brand {
  float: left;
  width: 50%;
}

/* LOGO handling */
.nav-brand p {
  margin: 0;
  padding: 29px 0 29px 10px;
}

.nav-brand a {
    max-height: 80px;
    color: transparent;
    display: block;
    background: url('/styles/icons/Manulife-logo.svg') no-repeat;
    background-size: auto 22px;
    width: 120px;
}

/* Header - right side tools */
.nav-tools > ul {
  float: right;
  padding: 20px 40px 20px 0;
  list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: flex-end;
}

.nav-tools > ul > li {
  font-size: 13px;
  margin-left: 25px;
}

.nav-tools > ul > li a {
  color: #282b3e;
}

.nav-top-left ul > li a {
  padding: 20px 0;
    color: #fff;
    font-size: .71rem;
    display: block;
}

.nav-tools > ul > li:last-child a {
  height: 0;
  min-width: 40px;
    width: auto;
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-bolder);
    justify-content: center;
    padding: 17px 20px;
    background-color: #fff;
    font-size: .875rem;
    line-height: 1.43;
    border: solid 2px #dc5a44;
    color: #282b3e;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
}

.nav-tools > ul > li:last-child a:hover {
  background-color: #dc5a44;
    color: #fff;
}

.nav-tools .icon-search {
  font-family: 'Manulife JH Sans',static-icons,sans-serif !important;
  font-size: 20px;
}

.nav-tools .icon-search::before {
  content: "\e931";
  color: #8e90a2;
}

.nav-top-left ul {
  list-style: none;
    margin: 0;
    padding: 0;
}

.nav-tools .icon-search svg,
.nav-tools > ul > li > ul {
  display: none;
}

/* nav hamburger */
.nav-hamburger {
  display: none;
}

/* Left navigation */
.nav-top-left {
  position: fixed;
    height: 100%;
    width: 80px;
    top: 0;
    left: 0;
    background-color: #34384b;
    overflow: hidden;
    z-index: 1002;
    display: inline-table;
}

.nav-top-left #nav-logo {
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00a758;
    height: 80px;
    font-size: 30px;
    color: #fff !important;
    width: 100%;
}

.nav-top-left #nav-logo::before {
  content: "\e917";
}

.nav-top-left ul > li { 
  text-align: center;
    border-bottom: solid 1px #2f3246;
    height: 80px;
    cursor: pointer;
}

.nav-top-left ul > li:hover {
  background-color: #282b3e;
    color: #fff;
}

.nav-top-left ul > li > ul {
  display: none;
}

.nav-top-left a > span.icon {
  display: block;
    margin: 0 auto 10px;
    font-size: 20px;
}

.nav-icon-goal::before {
  content: "\e969";
}

.nav-icon-products::before {
  content: "\e989";
}

.nav-icon-buy::before {
  content: "\ea7f";
}

.nav-icon-funds::before {
  content: "\e913";
}

.nav-icon-services::before {
  content: "\e911";
}

.nav-icon-about::before {
  content: "\e98a";
}

.nav-icon-contact::before {
  content: "\e90f";
}

.nav-mob {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #34384b;
  min-width: 320px;
  z-index: 1005;
  flex-wrap: wrap;
  overflow: hidden;
}

/* Mobile Header and Nav */
@media (max-width: 768px) {
  header,
  .nav-top-left,
  .nav-top-left #nav-logo {
    visibility: hidden;
    width: 0;
    display: none;
  }

  .nav-mob {
    display: flex;
  }

  .is-open-menu {
    overflow: hidden;
  }

  .is-open-menu .nav-top-left {
    transform: translate3d(0,0,0);
    visibility: visible;
    transition: transform 1000ms ease,visibility 1000ms linear;
    display: block;
    z-index: 1003;
    margin-top: 60px;
    height: 100%;
    width: 100%;
    min-width: 320px;
    position: fixed;
    top: 0;
    left: 0 !important;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 60px;
    background-color: #fff;
  }

  .nav-top-left ul > li {
    height: 70px;
    display: flex;
    border-bottom: 1px solid #ededed;
    background-color: #fff;
    position: relative;
    padding: 0;
    text-align: left;
  }

  .nav-top-left ul > li:hover {
    background-color: #fff;
  }

  .nav-top-left ul > li a {
    color: #282b3e;
    font-size: 1rem;
    line-height: 16px;
    opacity: 1;
    z-index: 1;
    width: 100%;
    padding: 0;
    position: relative;
  }

  .nav-top-left ul > li a span.icon {
    margin: 25px 20px;
    opacity: 1;
    display: inline-block;
  }
}

#mob-nav-logo {
  font-size: 30px;
  color: #fff;
  height: 60px;
  width: 60px;
  align-items: center;
  background-color: #00a758;
  justify-content: center;
  display: flex;
}

#mob-nav-logo::before {
  content: "\e917";
}

#nav-logo-manulife {
  height: 19px;
  color: transparent;
  background: url('/styles/icons/Manulife-logo-mobile.svg') no-repeat;
  width: 122px;
  margin-top: 20px;
  margin-left: 20px;
}

.nav-mob-tools {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-mob-user {
  width: 60px;
  height: 60px;
  border-left: solid 1px #282b3e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  text-align: center;
}

.nav-mob-menu {
  width: 60px;
  height: 60px;
  border-left: solid 1px #282b3e;
  margin: 0;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.nav-mob-menu span {
  position: relative;
  display: block;
  height: 2px;
  transform: none;
  background: #fff;
  transition: transform 500ms ease;
  top: 9px;
}

.nav-mob-menu span::before,
.nav-mob-menu span::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  left: 0;
  display: block;
  height: 2px;
  background: #fff;
  transition: top 500ms ease 500ms,transform 500ms ease;
}

.nav-mob-menu span::before {
  top: -7px;
  transform: none;
}

.is-open-menu .nav-mob-menu {
  background-color: #1a1c28;
}

.is-open-menu .nav-mob-menu span {
  transform: rotate(-45deg);
    transition: transform 500ms ease 500ms;
}

.is-open-menu .nav-mob-menu span::before,
.is-open-menu .nav-mob-menu span::after {
  top: 0;
  transform: rotate(90deg);
  transition: top 500ms ease, transform 500ms ease 500ms;
}