/* Header layout */
header .header {
  width: 100%;
    height: 80px;
    overflow: hidden;
}

header .nav-wrapper .nav-tools,
header .nav-wrapper .nav-brand {
  float: left;
  width: 50%;
}

/* LOGO handling */
.nav-brand p {
  margin: 0;
  padding: 29px 0 29px 10px;
}

.nav-brand a {
    max-height: 80px;
    color: transparent;
    display: block;
    background: url('/styles/icons/Manulife-logo.svg') no-repeat;
    background-size: auto 22px;
    width: 120px;
}

ul.primary-nav > li a {
  padding: 20px 0;
    color: var(--color-white);
    font-size: .71rem;
    display: block;
}

ul.sub-nav > li a {
  color: var(--color-base-primary);
  font-size: 1rem;
  line-height: 24px;
  opacity: 1;
  z-index:1;
  width:100%;
  align-items:center;
  display:flex;
}

.business-line ul li a {
  height: 80px;
  width: 100%;
  line-height: 1.43;
  color: var(--color-base-primary);
  font-weight: inherit;
  font-size: 16px;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.nav-tools > ul > li a {
  color: var(--color-base-primary);
}

.nav-tools > ul > li > ul li a {
  display: flex;
  padding: 19px 20px;
  height: 60px;
  margin: 0;
  align-items: center;
  color: var(--color-base-primary);
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
}

/* Mobile business line nav link */
ul.primary-nav > li.business-line {
  height: 82px;
}

.business-line ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.business-line ul li {
  background-color: var(--background-color);
  font-weight: 400;
  width: 50%;
  max-height: 80px;
  overflow-y: hidden;
  border: 1px solid var(--border-color);
  display: table;
  white-space: normal;
}

.business-line ul li a:hover, 
.business-line ul li a:focus {
  color: var(--color-gray15);
  text-decoration: none;
  background-color: var(--color-white-smoke);
}

/* Header - right side tools */
.nav-tools > ul {
  float: right;
  padding: 20px 40px 20px 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: flex-end;
}

.nav-tools > ul > li {
  font-size: 13px;
  margin-left: 25px;
}

.nav-tools > ul li:first-child a::after {
  font-family: var(--font-family-txticon) !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "\e90c";
  font-size: 10px;
  width: 6px;
  height: 10px;
  display: inline-block;
  transform: rotate(90deg);
  margin: 0 10px;
}

.nav-tools > ul > li.nav-active a::after  {
  transform: rotate(-90deg);
}

.nav-tools > ul > li:first-child > ul li a::after {
  display: none;
}

.nav-tools > ul li:first-child a:hover::after {
  color: var(--link-color-secondary);
}

.nav-top-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-tools > ul > li > ul {
  margin-top: 10px;
  padding: 0;
  background-color: var(--color-white);
  border: 1px solid var(--border-color);
  min-width: 125px;
  max-height: 300px;
  position: absolute;
  z-index: 1;
  display: none;
  overflow-y: auto;
}

.nav-tools > ul > li.nav-active > ul {
  display: block;
}

ul.primary-nav > li { 
  text-align: center;
  border-bottom: solid 1px var(--nav-bg);
  height: 80px;
  cursor: pointer;
}

ul.sub-nav li{
  padding:0 60px;
  text-align: left;
  border-bottom: 1px solid var(--color-brighter-grey);
  display: flex;
  min-height: 80px;
  align-items: center;
  position: relative;
}

.nav-tools > ul > li > ul li {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--border-color);
}

ul.sub-nav li:first-child a {
  max-height: 80px;
  color: transparent;
  display: block;
  background: url('/styles/icons/Manulife-logo.svg') no-repeat;
  background-size: auto 22px;
  width: 120px;
  font-size: 0;
  padding: 0;
}

.nav-tools > ul > li:last-child a {
  height: 0;
  min-width: 40px;
  width: auto;
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bolder);
  justify-content: center;
  padding: 17px 20px;
  background-color: var(--color-white);
  font-size: .875rem;
  line-height: 1.43;
  border: solid 2px var(--color-base-secondary);
  color: var(--color-base-primary);
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
}

.nav-tools > ul > li > ul li a:hover {
  background-color: var(--color-lotion);
}

.nav-tools > ul > li:last-child a:hover {
  background-color: var(--color-base-secondary);
  color: var(--color-white);
}

.nav-tools .icon-search,
.nav-top-left .icon-search {
  font-family: var(--font-family-txticon);
  font-size: 20px;
}

.nav-tools .icon-search::before {
  color: var(--color-cool-gray);
}

.nav-tools a:hover .icon-search::before,
a.nav-search:hover .icon-search::before {
  color: var(--link-color-secondary);
}

.nav-tools .icon-search svg {
  display: none;
}

/* nav hamburger */
.nav-hamburger {
  display: none;
}

/* Left navigation */
.nav-top-left {
  position: fixed;
  height: 100%;
  width: 80px;
  top: 0;
  left: 0;
  background-color: var(--background-color-mob);
  overflow: hidden;
  z-index: 1002;
  display: inline-table;
}

@media (min-width: 769px) { 
  .nav-top-left #nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-logo-color);
    height: 80px;
    font-size: 30px;
    color: var(--color-white) !important;
    width: 100%;
  }
}

ul.primary-nav > li:hover {
  background-color: var(--color-base-primary);
  color: var(--color-white);  
}

ul.sub-nav {
  display: none;
  top:0;
  position: fixed;
  left: 80px;
  background: var(--color-white);
  height: 100%;
  width: 400px;
}

ul.sub-nav li::before{
  content: '';
  height: 100%;
  width: 0;  
  background-color: var(--color-lotion); 
  transition: all ease .5s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

ul.primary-nav > li:hover ul.sub-nav{
  display: block;
}

ul.primary-nav li.subnav-products ul li:last-child {
  display: block;
  padding: 30px 60px;
  font-family: var(--font-family-body);
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: var(--color-base-primary);
}

ul.primary-nav li.subnav-products ul li:last-child strong {
  font-family: var(--font-family-body);
    font-size: .8125rem;
    border-radius: 2px;
    border: 0.15rem solid var(--nav-logo-color);
    color: var(--nav-logo-color);
    padding: 0.1rem 0.5rem;
    display: block;
    font-weight: 600;
    width: fit-content;
    line-height: 16px;
    min-height: 24px;
}

ul.primary-nav li.subnav-products ul li:last-child a {
  display: inline-block;
  align-items: center;
  text-align: left;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  font-size: .875rem;
  line-height: 1.29;
  letter-spacing: normal;
  color: #282b3e;
  position: relative;
  padding-left: 30px;
  font-weight: 600;
}

ul.primary-nav li.subnav-products ul li:last-child a::before {
  content: "\e933";
  color: var(--link-color-secondary);
  font-family: var(--font-family-txticon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: absolute;
  display: block;
  font-size: 20px;
  left: 0;
  top: 17px;
  margin-top: 0;
}

ul.primary-nav li.subnav-products ul li:last-child a:hover::before {
  font-size: 23px;
}

.nav-top-left a > span.icon {
  display: block;
  margin: 0 auto 10px;
  font-size: 20px;
}


ul.sub-nav li:hover::before{
  width: 100%;
}

ul.sub-nav li:first-child:hover::before{
  width: 0;
}


.nav-mob {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: var(--background-color-mob);
  min-width: 320px;
  z-index: 1005;
  flex-wrap: wrap;
  overflow: hidden;
}

/* Mobile Header and Nav */
@media (max-width: 768px) {
  .nav-mob {
    display: flex;
  }

  ul.primary-nav > li:hover ul.sub-nav{
    display: none;
  }

  .is-open-menu {
    overflow: hidden;
  }

  .is-open-menu .nav-top-left {
    transform: translate3d(0,0,0);
    visibility: visible;
    transition: transform 1000ms ease,visibility 1000ms linear;
    display: block;
    z-index: 1003;
    margin-top: 60px;
    height: 100%;
    width: 100%;
    min-width: 320px;
    position: fixed;
    top: 0;
    left: 0 !important;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 60px;
    background-color: var(--color-white);
  }

  ul.primary-nav > li {
    height: 70px;
    display: flex;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--color-white);
    position: relative;
    padding: 0;
    text-align: left;
  }

  ul.primary-nav > li:hover {
    background-color: var(--color-white);
  }

  ul.primary-nav > li a {
    color: var(--color-base-primary);
    font-size: 1rem;
    line-height: 16px;
    opacity: 1;
    z-index: 1;
    width: 100%;
    padding: 0;
    position: relative;
  }

  ul.primary-nav > li a span.icon {
    margin: 25px 20px;
    opacity: 1;
    display: inline-block;
  }
}

#mob-nav-logo {
  font-size: 30px;
  color: var(--color-white);
  height: 60px;
  width: 60px;
  align-items: center;
  background-color: var(--nav-logo-color);
  justify-content: center;
  display: flex;
}

#nav-logo-manulife {
  height: 19px;
  color: transparent;
  background: url('/styles/icons/Manulife-logo-mobile.svg') no-repeat;
  width: 122px;
  margin-top: 20px;
  margin-left: 20px;
}

.nav-mob-tools {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-mob-user {
  width: 60px;
  height: 60px;
  border-left: solid 1px var(--color-base-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  text-align: center;
}

.nav-mob-menu {
  width: 60px;
  height: 60px;
  border-left: solid 1px var(--color-base-primary);
  margin: 0;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.nav-mob-menu span {
  position: relative;
  display: block;
  height: 2px;
  transform: none;
  background: var(--color-white);
  transition: transform 500ms ease;
  top: 9px;
}

.nav-mob-menu span::before,
.nav-mob-menu span::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  left: 0;
  display: block;
  height: 2px;
  background: var(--color-white);
  transition: top 500ms ease 500ms,transform 500ms ease;
}

.nav-mob-menu span::before {
  top: -7px;
  transform: none;
}

.is-open-menu .nav-mob-menu {
  background-color: var(--nav-bg-mobile);
}

.is-open-menu .nav-mob-menu span {
  transform: rotate(-45deg);
    transition: transform 500ms ease 500ms;
}

.is-open-menu .nav-mob-menu span::before,
.is-open-menu .nav-mob-menu span::after {
  top: 0;
  transform: rotate(90deg);
  transition: top 500ms ease, transform 500ms ease 500ms;
}

/* Extra large view port */
@media (min-width: 1920px) {
  .nav-tools > ul {
    padding-right: 10px;
  }
}