.footer {
  font-weight: var(--font-weight-regular);
  color: var(--color-white) !important;
  width: auto; 
  margin: 50px 0 0 !important;
  min-height:56px;
  background: var(--color-base-primary);
}

@media (max-width: 768px) {
  .footer {
    /* width: calc(100% + 40px) !important; */
    padding: 0 20px 37px !important;
    margin-left: -20px !important;
  }
}

@media (min-width: 769px) {
  .footer {
    /* width: calc(100% + 60px) !important; */
    padding: 0 40px 40px !important;
    margin-left: -30px !important;
  }
}

@media (min-width: 1920px) {
  .footer {
    width: calc(100% + 100px) !important;
    padding: 0 60px 60px !important;
    margin-left: -50px !important;
  }
}

.footer .foot-social > div {
  margin: 0 40px;
  gap: 0;
  align-items: left;
}

.footer .footer-links >div {
    gap: 0;
}

.footer .foot-primary > div > div {
  float: left;
  width: 25%;
  margin-left: 0;
}

.footer .foot-social > div > div:last-child {
  margin-left: 0;
}

@media (max-width: 768px) {
  .footer .foot-primary > div > div {
    margin-left: 0;
    width: 100%;
  }
}

.footer .foot-social p {
  padding: 0;
  margin: 0;
}

.footer .footer-links p {
  font-family: var(--font-family-body);
  font-size: .625rem;
  height: 0.625rem;
  line-height: 0;
  margin: 40px 0 10px;
}

.footer .footer-links label >p {
  font-family: var(--font-family-body);
  font-size: calc(var(--body-font-size-smallest) - 0.6px);
  font-weight: var(--font-weight-regular);
}

.footer .footer-links >div >div:last-child {
    margin-left: 0;
}

.footer-links ul li {
  margin: 5px 0 0;
  padding: 0;
  line-height: 0;
}

.footer .foot-social div > a {
  width: 40px;
  height: 40px;
  margin-right: 11.3px;
  position: relative;
  display: inline-block;
  border: 1px solid var(--footer-social-border-color);
  border-radius: 50%;
  font-size: 38px;
  background-size: 38px;
  -webkit-font-smoothing: antialiased;
  color: var(--color-white) !important;
}

.footer .columns > div > div > ul li a {
  color: var(--color-white) !important;
  font-weight: var(--font-weight-regular);
  font-size: calc(14px - 0.6px);
  line-height: 1.43;
}

.footer .foot-social div > a:hover {
  border-color: var(--color-white);
}

.footer .columns > div > div > ul li a:hover {
  text-decoration: none !important;
  border-bottom: 1px solid var(--color-white);
}

.footer ul {
  margin: 0;
  padding: 1px 0 0;
  list-style: none;
}

.footer .foot-social {
  padding: 30px 0 20px;
  margin: 30px -40px;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}

.footer .foot-social > div > div > ul li {
  float: left;
  padding-right: 20px;
  font-size: calc(14px - 0.6px);
}

.footer .foot-social div > a span {
  display:  none;
}

.footer .foot-social div > a::before {
  display: inline-block;
}

.footer .foot-disc {
    line-height: 1.83;
    font-size: calc(12px - 0.6px);
    width: 66.6667%;
    margin: 0;
    padding: 16px 0;
    height: auto;
}

@media (max-width: 768px) {
  .foot-social > div > div {
    margin: 20px 0;
  }

  /* Mobile links as accordion */
  .footer-links label {
    cursor: pointer;
    width: 100%;
    min-height: 59px;
    font-size: .625rem;
    height: 0.625rem;
    line-height: 1;
    margin: 0;
    display: flex;
    align-items: center;
    outline: 0;
  }

  .footer-links label::after {
    font-family: var(--font-family-txticon);
    content: "\e90f";
    color: var(--color-light-gray);
    font-size: 6px;
    width: 9px;
    height: 6px;
    display: block;
    position: absolute;
    right: 30px;
  }

  .footer-links input:checked~label::after {
    content: "\e910";
    color: var(--color-white);
  }

  .footer .footer-links label p {
    margin: 0;
  }

  .footer-links ul {
    line-height: 28px;
    box-sizing: border-box;
    display: none;
    background-color: var(--footer-mobile-bg-color);
    margin: 0 0 0 -20px;
    width: 100vw;
  }

  .footer-links input:checked~ul {
    height: auto;
    color: var(--color-white);
    font-size: 16px;
    padding: 0 20px;
    transition: 0.5s;
    display: grid;
  }

  .footer-links ul li {
    margin: 30px 0 0;
  }

  .footer .footer-links.columns > div > div > ul li a {
    line-height: 1.43;
    padding: 0;
    margin: 0;
  }

  .footer-links ul li:last-child {
    margin-bottom: 30px;
  }

  .footer .foot-social {
    padding: 0;
    margin: 30px 0;
  }

  .footer .foot-social > div {
    margin: 0;
  }

  .footer .foot-disc {
    width: 100%;
  }
}

.footer-links input {
  display: none;
}
