.tiles-container h2 {
  margin-bottom: 0;
}

.tiles-wrapper {
  clear: both;
  display: block;
}

.tiles {
  margin: 0;
  padding: 0;
  min-height: 400px;
  clear: both;
  display: block;
}

.tile {
  width: 25%;
  padding: 0 10px;
  margin: 10px 0;
  float: left;
  position: relative;
}

.col-1by2 .tile {
  width: 100%;
}

.tile-container {
  height: 380px;
  transition: all .25s;
  position: relative;
}

.tile a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.tile-image {
    width: 100%;
    height: 100%;
}

.tile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tile-body {
  padding: 20px;
  position: absolute;
  top: 0;
  width: 98%;
  height: 100%;
  overflow: hidden;
}

.tile-body .tile-body-wrapper {
    padding: 0 20px 20px 0;
    color: var(--color-white);
    font-size: 1.375rem;
    font-weight: normal;
    overflow: hidden;
    word-break: break-word;
    max-height: 158px;
    line-height: 30px;
}

.tile-body .tile-body-wrapper p:last-child {
    bottom: 0;
    top: auto;
    position: absolute;
}

.tile-body-wrapper .icon {
    font-size: 80px;
    display: block;
    bottom: 210px;
    position: absolute;
}

@media (max-width: 768px) {
  .tile {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

/* Tiles colors */
.tile-bg-orange .tile-container {
  background-color: var(--color-orange);
}

.tile-bg-green .tile-container {
  background-color: var(--color-green);
}

.tile-bg-red .tile-container {
  background-color: var(--color-red);
}

.tile-bg-blue .tile-container {
  background-color: var(--color-blue);
}

.tile-bg-jade .tile-container {
  background-color: var(--color-jade);
}

.tile-bg-cyan .tile-container {
  background-color: var(--color-cyan);
}

.tile-bg-white .tile-container {
  background-color: var(--color-white);
}

.tile-bg-cyan .tile-container a,
.tile-bg-jade .tile-container a,
.tile-bg-red .tile-container a,
.tile-bg-orange .tile-container a,
.tile-bg-white .tile-container a,
.tile-bg-white .tile-body .tile-body-wrapper {
  color: var(--color-black);
}

.tile-bg-blue .tile-container a,
.tile-bg-green .tile-container a {
  color: var(--color-white);
}

.tile:hover .tile-container {
  cursor: auto;
  margin-top: -15px;
  margin-bottom: 15px;
  box-shadow:0 5px 10px 0 rgb(40 43 62 / 15%)
}

.tile:hover .tile-image {
  margin-top: -15px;
  transition: all .25s;
  box-shadow:0 5px 10px 0 rgb(40 43 62 / 15%)
}

.tile .tile-image picture::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .4;
  background-color: #282b3e;
}

.no-effect .tile:hover .tile-container {
  margin: 0;
  box-shadow: none;
}

.no-effect .tile:hover .tile-image {
  margin: 0;
  transition: none;
  box-shadow: none;
}
