/* below the fold CSS goes here */

/* Manulife JH Sans */
@font-face {
  font-family: 'Manulife JH Sans';
  src: url('fonts/ManulifeJHSans-Light.eot');
  src: url('fonts/ManulifeJHSans-Light.eot?#iefix') format('embedded-opentype'), url('fonts/ManulifeJHSans-Light.woff2') format('woff2'), url('fonts/ManulifeJHSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manulife JH Sans';
  src: url('fonts/ManulifeJHSans-Regular.eot');
  src: url('fonts/ManulifeJHSans-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/ManulifeJHSans-Regular.woff2') format('woff2'), url('fonts/ManulifeJHSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manulife JH Sans';
  src: url('fonts/ManulifeJHSans-Demibold.eot');
  src: url('fonts/ManulifeJHSans-Demibold.eot?#iefix') format('embedded-opentype'), url('fonts/ManulifeJHSans-Demibold.woff2') format('woff2'), url('fonts/ManulifeJHSans-Demibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manulife JH Sans';
  src: url('fonts/ManulifeJHSans-Bold.eot');
  src: url('fonts/ManulifeJHSans-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/ManulifeJHSans-Bold.woff2') format('woff2'), url('fonts/ManulifeJHSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Manulife JH Serif */
@font-face {
  font-family: 'Manulife JH Serif';
  src: url('fonts/ManulifeJHSerif-Italic.eot');
  src: url('fonts/ManulifeJHSerif-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/ManulifeJHSerif-Italic.woff2') format('woff2'), url('fonts/ManulifeJHSerif-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: manulife-icons;
  src: url('fonts/icons/manulife-icons.eot?pt8i22');
  src: url('fonts/icons/manulife-icons.eot?pt8i22#iefix') format('embedded-opentype'), url('fonts/icons/manulife-icons.ttf?pt8i22') format('truetype'), url('fonts/icons/manulife-icons.woff?pt8i22') format('woff'), url('fonts/icons/manulife-icons.svg?pt8i22#manulife-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: static-icons;
  src: url('fonts/icons/static-icons.eot?r0zl90');
  src: url('fonts/icons/static-icons.eot?r0zl90#iefix') format('embedded-opentype'), url('fonts/icons/static-icons.ttf?r0zl90') format('truetype'), url('fonts/icons/static-icons.woff?r0zl90') format('woff'), url('fonts/icons/static-icons.svg?r0zl90#static-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}