/* 
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
 :root {
  /* colors */
  --color-base-primary: #282b3e;
  --color-base-secondary: #dc5a44;
  --color-white: #fff;
  --color-black: #000;
  --color-green: #008000;
  --color-red: #f00;
  --color-blue: #00f;
  --color-cyan: #07857d;
  --color-lotion: #fafafa;
  --color-fire-opal: #ec6453;
  --color-dark-gunmetal: #202336;
  --color-medium-blue: #0000c1;
  --color-bright-gray: #eee;
  --color-brighter-grey: #ededed;
  --color-cool-gray: #8e90a2;
  --color-light-gray: #787a86;
  --color-gray15: #262626;
  --color-charcoal: #34384b;
  --color-jade: #00a758;
  --color-dark-green: #1a1c28;
  --color-crayola: #2f3246;
  --color-orange: #ffa500;
  --color-burgundy: #34384A;
  --color-comet: #5e6073;
  --color-white-smoke: #f5f5f5;

  /* Theme color variables */
  --background-color: var(--color-lotion);
  --background-color-mob: var(--color-charcoal);
  --overlay-background-color: var(--color-bright-gray);
  --link-color-secondary: var(--color-fire-opal);
  --icon-color-dark: var(-color-dark-gunmetal);
  --nav-logo-color: var(--color-jade);
  --nav-bg-mobile: var(--color-dark-green);
  --nav-bg: var(--color-crayola);
  --border-color: var(--color-brighter-grey);
  --footer-social-border-color: var(--color-charcoal);
  --footer-mobile-bg-color: var(--color-burgundy);
  --tile-shadow-color: #0003;

  /* fonts */
  --font-family-body: 'Manulife JH Sans', sans-serif;
  --font-family-style: 'Manulife JH Serif', serif;
  --font-family-txticon: 'Manulife JH Sans', static-icons, sans-serif;
  --font-family-icon: manulife-icons, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* nav height */
  --nav-height: 80px;

  /* font weights */
  --font-weight-thin: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 500;
  --font-weight-bolder: 600;
  --font-weight-boldest: 700;
  --font-weight-heavy: 900;
}

/* Fonts */

/* import common files and component styles */

/* Preferred encoding for web pages */

/* import font from web; still to explore optimal location for font files */

@media (max-width: 1920px) {
  html {
    font-size: var(--body-font-size-xs);
  }
}

/* Large Desktop Size */
@media (min-width: 1921px) {
  html {
    font-size: var(--body-font-size-m);
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: var(--font-family-body);
  line-height: 1.6;
  color: var(--color-black);
  background-color: var(--background-color);
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

header {
  background-color: rgba(255 255 255 / 95%);
  box-shadow: 0 8px 20px 0 rgba(0 0 0 / 1%);
  z-index: 1001;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: var(--nav-height);
  height: 80px;
  align-items: center;
}

i,
em,
b,
strong {
  font-family: var(--font-family-style);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word;
  line-height: 1;
  font-weight: var(--font-weight-thin);
  padding-left: 10px;
}

h1 {
  font-size: 3rem;
  line-height: 3.625rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.625rem;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

blockquote+blockquote,
blockquote+h2,
h2+blockquote,
h2+h2 {
  font-size: 1.375rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.625rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.375rem;
  line-height: 2rem;
  font-weight: var(--font-weight-bolder);
}

h5 {
  font-size: 1.125rem;
  line-height: 1.625rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.625rem;
}

/* Phone Size */
@media (max-width: 768px) {
  h1 {
    font-size: 2.25rem;
    line-height: 2.625rem;
  }

  h2 {
    font-size: 1.625rem;
    line-height: 2rem;
  }

  blockquote+blockquote,
  blockquote+h2,
  h2+blockquote,
  h2+h2 {
    font-size: 1.375rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.375rem;
    line-height: 2rem;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  h5 {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  h6 {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  text-decoration: none;
  letter-spacing: -0.05px;
  word-break: break-word;
}

.button-container {
  color: var(--color-base-primary);
  display: inline-block;
  font-size: .875rem;
  font-weight: var(--font-weight-bolder);
}

.button-container em {
  font-style: normal;
  font-family: var(--font-family-body);
}

.button-container a.secondary {
  margin: 0;
  padding: 5px 0 5px 35px;
  font-weight: normal;
  line-height: 1.43;
  display: inline-block;
  font-size: .875rem;
  color: var(--color-base-primary) !important;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  letter-spacing: normal;
  background: none;
  position: relative;
}

.button-container a.secondary::before {
  font-family: var(--font-family-txticon);
  content: "\e933";
  color: var(--link-color-secondary);
  font-size: 20px;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0;
  top: -1px;
}

.button-container a.secondary:hover::before {
  font-size: 23px;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.hide {
  display: none !important;
  visibility: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 0 !important;
  width: 0 !important;
}

/* Icons */
.icon {
  font-family: var(--font-family-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-userlogin::before {
  content: "\e927";
}

.icon-award::before {
  content: "\e9ba";
}

.icon-officebuilding::before {
  content: "\ea4a";
}

.icon-advisor::before {
  content: "\e905";
}

.icon-chat::before {
  content: "\e97b";
}

.icon-facebook::before {
  content: "\e931";
}

.icon-instagram::before {
  content: "\eab5";
}

.icon-twitter::before {
  content: "\eab1";
}

.icon-youtube::before {
  content: "\eab3";
}

.icon-search::before {
  content: "\e931";
}

.icon-goal::before {
  content: "\e969";
}

.icon-products::before {
  content: "\e989";
}

.icon-buy::before {
  content: "\ea7f";
}

.icon-funds::before {
  content: "\e913";
}

.icon-services::before {
  content: "\e911";
}

.icon-about::before {
  content: "\e98a";
}

.icon-contact::before {
  content: "\e90f";
}

.icon-nav-logo::before {
  content: "\e917";
}

.icon svg {
  display: none;
}

/* Custom styles */
header,
main,
footer {
  margin-left: 80px;
  transition: transform 500ms ease;
  padding: 0 0 0 30px;
}

main {
  padding: 80px 30px 0;
}

.desktop-hide {
  display: none;
}

.section > div {
  padding: 50px 0;
  clear: both;
}

@media (max-width: 768px) {
  header,
  .nav-top-left,
  .nav-top-left #nav-logo {
    visibility: hidden;
    width: 0;
    display: none;
  }

  main,
  footer {
    width: 100%;
    margin: 0;
  }

  main {
    padding: 60px 20px 0;
    display: grid;
  }

  footer {
    padding: 60px 0 0 20px;
  }

  .section {
    display: flow-root;
  }

  .desktop-hide {
    display: block;
  }
}

/* Custom columns */
.col-1by4,
.col-1by2 {
  display: flex;
}

.col-1by2 > div {
  width: 50%;
}

.col-1by4 > div {
  width: 25%;
}

.col-1by4 > div:last-child {
  width: 75%;
}

@media (max-width: 900px) {
  .col-1by4,
  .col-1by2 {
    display: block;
  }

  .col-1by4 > div,
  .col-1by2 > div,
  .col-1by4 > div:last-child {
    width: 100%;
  }
}

.section.no-gap > div {
  padding: 0;
}

/* User Profile section */
.section.userprofile {
  margin: 0 -30px;
  padding: 0;
}

.userprofile .columns-img-col {
  height: 400px;
  flex: unset;
  background-color: var(--icon-color-dark);
  float: left;
  width: 436px;
  position: relative;
}

.userprofile .columns-img-col img {
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  transform: none;
  object-fit: cover;
}

.aboutme .columns>div>div,
.followme .columns>div>div {
  padding-right: 75px;
}

.columns.followme > div > div {
  width: 15% !important;
  margin-left: 0 !important;
  flex: initial;
}

.userprofile .columns-2-cols>div>div~div {
  background-color: var(--color-medium-blue);
  padding: 40px;
  color: var(--color-white);
  float: left;
  flex: unset;
  width: calc(60px + 75%) !important;
  margin-left: -31px !important;
  height: 400px;
}

.userprofile .columns-2-cols>div>div~div h2 {
  font-size: 2rem;
  line-height: 3.125rem;
  word-break: break-word;
  font-weight: var(--font-weight-thin);
  color: var(--color-white);
  max-height: 210px;
  padding: 0 0 8px;
  margin: 0 0 20px;
}

.aboutme p,
.aboutme ul,
.aboutme ul li {
  font-size: .875rem;
  font-weight: normal;
  line-height: 1.43;
  color: var(--color-base-primary);
  word-break: break-word;
  padding: 0;
}

.facebook-chat .tile-body-wrapper p {
  margin: 0;
  display: contents;
}

.userprofile .columns-2-cols>div>div~div p {
  word-break: break-word;
  font-size: 1.125rem;
  font-weight: var(--font-weight-thin);
  line-height: 1.44;
  color: var(--color-white);
  max-height: 104px;
  margin: 0;
}

.userprofile .columns-img-col>picture::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--color-base-primary);
  opacity: .2;
  pointer-events: none;
}

@media (max-width: 768px) {
  .section.userprofile {
    margin-right: -20px;
  }

  .columns.aboutme > div > div,
  .columns.followme > div > div {
    padding: 0;
    width: 100% !important;
  }

  .userprofile .columns-img-col,
  .userprofile .columns-2-cols>div>div~div {
    width: 100% !important;
  }

  .userprofile .columns-2-cols>div>div~div {
    height: auto;
    padding: 30px !important;
    margin: 0 !important;
  }

  .columns.followme > div > div > p {
    width: 110px;
    float: left;
  }
}

/* About-me & Follow-me section */
.aboutme h3,
.followme h3 {
  font-size: 1rem;
  font-weight: var(--font-weight-bolder);
  line-height: 1.63;
  color: var(--color-base-primary);
  max-height: 52px;
  overflow: hidden;
  padding: 0;
  margin: 20px 0 0;
}

.aboutme ul {
  list-style: none;
}

.columns.aboutme > div > div:first-child,
.columns.followme > div > div:first-child {
  width: 23% !important;
  flex: unset;
  padding-right: 0;
}

.aboutme .icon-userlogin,
.aboutme .icon-award {
  height: 80px;
  display: block;
  font-size: 80px;
  color: var(--icon-color-dark);
}

.followme .icon {
  font-size: 50px;
  height: 50px;
}

@media (max-width: 768px) {
  .columns.aboutme > div > div:first-child,
  .columns.followme > div > div:first-child {
    width: 100%;
  }
}

/* Contact form block */
.section.form-container > div.form-wrapper {
  padding: 0 0 0 10px;
}

.section.form-container > div.default-content-wrapper {
  padding: 0;
}

.section.form-container > div.default-content-wrappe h4 {
  letter-spacing: 0;
  font-weight: 600;
  margin-bottom: 0;
}

.contactform h3 {
  margin: 0;
  padding-top: 10px;
  font-weight: var(--font-weight-bolder);
  font-size: 1.375rem;
  line-height: 2rem;
}

@media (max-width: 768px) {
  .contactform h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

/* Facebook chat section */
.tiles.facebook-chat {
  min-height: 110px;
}

.section.tiles-container.facebook-chat {
  padding: 50px 0;
}

.facebook-chat .tiles-wrapper {
  min-height: 110px;
}

.facebook-chat .tile-container {
  height: 110px;
}

.facebook-chat .tile,
.facebook-chat .tile-body .tile-body-wrapper {
  padding: 0;
}

.facebook-chat .tile-bg-white {
  border: 1px solid var(--border-color);
}

.facebook-chat .tile-body {
  padding: 0;
  margin: 30px 0 0 30px;
}

.facebook-chat .tile-body-wrapper .icon {
  font-size: 50px;
  color: var(--icon-color-dark);
  position: relative;
  bottom: auto;
  float: left;
}

.facebook-chat .tile-body .tile-body-wrapper p:last-child {
  width: 85%;
  font-weight: var(--font-weight-bolder);
  line-height: 1.63;
  color: var(--color-base-primary);
  letter-spacing: normal;
  font-style: normal;
  font-stretch: normal;
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  padding: 0 30px;
  position: unset;
}

.facebook-chat .tile-body .tile-body-wrapper p:last-child::after {
  position: relative;
  font-family: var(--font-family-txticon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "\e903";
  color: var(--link-color-secondary);
  font-size: 20px;
  width: 28px;
  height: 28px;
  display: inline-block;
  right: 0;
  top: 2px;
  float: right;
}

/* Extra large view port */
@media (min-width: 1920px) {
  header, footer {
    padding: 0 50px;
  }

  main {
    padding: 80px 50px 0;
  }

  .section.userprofile {
    margin: 0 -50px;
  }
}